html,body{
  margin:0 auto;
  font-family:Arial;
}

.center{
  justify-content:center;
  align-items:center;
}

#banner{
  background-color:rgb(136, 154, 133);
  color:rgb(226, 245, 233);
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#banner h1{
  font-size:40px;
}

#banner h2{
  font-size:30px;
}

nav{
  background-color:rgb(231, 255, 232);
}
nav a{
  color:rgb(64, 73, 67);
  padding:7px;
  flex:1;
  text-decoration:none;
  text-align:center;
  font-size:18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

nav a:hover{
  color:rgb(179, 196, 164);
}

#footer{
  background-color:rgb(90, 110, 95);
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid rgb(72, 66, 66);
  text-align:center;  
  box-shadow:2px 3px 2px black;
  border-radius:2px;  
  background-color: rgb(218, 238, 218);
}


#leftPanel{
  color:rgb(58, 81, 60);
}


.button{
  text-decoration:none;
  background-color:rgb(139, 175, 146);
  color:rgb(255, 255, 255);
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
  cursor:pointer;
}
.button:hover{
  background-color:rgb(92, 121, 99);
}
#output{
  flex-wrap:wrap;  
  background-color: rgb(218, 238, 218);
}
#leftPanel{
  flex:1;
}
#rightPanel{
  flex:2;
}
.fitted{
  max-width:200px;
  min-width:200px;  
  background-color: rgb(234, 243, 236);
}
.card img{
  height:100px;
}

#map{
  height: 500px;
  width: 100%;
}

.chart-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}


.chart-controls {
  width:45%
}


.chart-display {
  width: 65%;
}

#map{
  flex:1;
  width:90%;
  height:600px;
  border-radius:10px;
  box-shadow:2px 2px 2px white;
}

 #leftPanel{
   flex:1;
   max-height:800px;;
   overflow-y:scroll;
 }

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container div {
    flex: 1;
}

.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  filter: contrast(70%);
}

.container img:hover{
  filter:opacity(100%);
  transform: scale(1.05);
}

